.header {
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.buscar {
  display: flex;
  align-items: center;
  text-align: center;
}

.logo {
  display: flex;
  background-color: palegoldenrod;
}
