.card-container {
  background-color: white;
  display: flex;
  direction: row;
  width: 400px;
  height: 500px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 0 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 35%;
}
.titulo {
  display: flex;
  list-style-type: none;
}
.titulo li {
  padding: 10px;
}

.user-picture {
  height: 100px;
  border-radius: 20px;
}

.information-container {
  margin-left: 20px;
  color: #5c8dd6;
}
